<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arnawajuan.rumah_makan_cilik">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppThemeLight">

        <activity android:name="com.arnawajuan.rumah_makan_cilik.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.arnawajuan.rumah_makan_cilik.UserLogin" />
        <activity android:name="com.arnawajuan.rumah_makan_cilik.RegisterUser" />
        <activity
            android:name="com.arnawajuan.rumah_makan_cilik.MainActivity"
            android:theme="@style/SettingLight" />
        <activity android:name="com.arnawajuan.rumah_makan_cilik.UserProfile"/>
        <activity android:name="com.arnawajuan.rumah_makan_cilik.GeolocationActivity" />
        <activity android:name="com.arnawajuan.rumah_makan_cilik.makanan.MenuMakanan" />
        <activity android:name="com.arnawajuan.rumah_makan_cilik.SettingActivity" />
        <activity android:name="com.arnawajuan.rumah_makan_cilik.ReservationActivity"/>

        <service android:name="com.arnawajuan.rumah_makan_cilik.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>